@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* rwd img css ，可當作式CSS Reset 其中一個Reset設定*/
img {
  height: auto;
}

/* 全域 border box */
*, *::before, *::after {
  Box-sizing: border-box;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.25;
  font-family: Helvetica Neue, Regular;
  margin: 0 auto;
}

.font_bold {
  font-weight: bold;
}

header {
  padding-right: 4%;
  padding-left: 4%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (min-width: 960px) {
  header {
    height: 80px;
  }
}
header .img_Logo_Desktop {
  background-image: url("../img/logo-all-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 220px;
  height: 40px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}
@media screen and (min-width: 960px) {
  header .img_Logo_Desktop {
    display: block;
  }
}
header .navbar_mobile {
  background-image: url("../img/dehaze-24px.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  header .navbar_mobile {
    display: none;
  }
}
header .img_LOGO_mobile {
  background-image: url("../img/logotype-sm-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 115px;
  height: 18px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  header .img_LOGO_mobile {
    display: none;
  }
}
header .navmenu_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .navmenu_cart ul {
  display: none;
}
@media screen and (min-width: 960px) {
  header .navmenu_cart ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
  }
  header .navmenu_cart ul li {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 5px;
  }
  header .navmenu_cart ul li a {
    color: #3F5D45;
    font-weight: bold;
    font-size: 20px;
  }
}

footer .footer_mail_bar {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 30px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #3F5D45;
  color: white;
  font-size: 28px;
}
footer .footer_mail_bar .footer_logo_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
footer .footer_mail_bar .footer_logo_text .img_footer_mail_logo {
  background-image: url("../img/logo-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}
footer .footer_mail_bar .footer_mail_bar_mailbox {
  height: 60px;
  width: 80%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 960px) {
  footer .footer_mail_bar .footer_mail_bar_mailbox {
    width: 380px;
  }
}
footer .footer_mail_bar .footer_mail_bar_mailbox_mailicon {
  background: #EAF0ED;
  background-image: url("../img/mail-24px.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 100%;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-size: 40%;
  background-position: 50% 50%;
}
footer .footer_mail_bar .footer_mail_bar_mailbox_input {
  background: #EAF0ED;
  height: 100%;
  width: 60%;
  display: block;
  border: none;
  font-size: 28px;
  color: #3F5D45;
}
footer .footer_mail_bar .footer_mail_bar_mailbox_arrow {
  background: #FFE180;
  background-image: url("../img/arrow_forward-24px.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 100%;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-size: 40%;
  background-position: 50% 50%;
}
footer .footer_bottom {
  padding-top: 20px;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 20px;
  background: #EAF0ED;
  color: #3F5D45;
}
@media screen and (min-width: 960px) {
  footer .footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 17%;
    padding-right: 17%;
  }
}
footer .footer_bottom .footer_bottom_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 960px) {
  footer .footer_bottom .footer_bottom_left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
footer .footer_bottom .footer_bottom_left .footer_bomttom_logo {
  background-image: url("../img/logotype-sm-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 172px;
  height: 27px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) {
  footer .footer_bottom .footer_bottom_left .footer_bomttom_logo {
    margin-bottom: 0;
  }
}
footer .footer_bottom .footer_bottom_left .footer_bomttom_text1 {
  margin-bottom: 20px;
  font-size: 20px;
}
@media screen and (min-width: 960px) {
  footer .footer_bottom .footer_bottom_left .footer_bomttom_text1 {
    margin-bottom: 0;
    margin-top: 60px;
  }
}
footer .footer_bottom .footer_bottom_left .footer_bottom_SocialIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
@media screen and (min-width: 960px) {
  footer .footer_bottom .footer_bottom_left .footer_bottom_SocialIcon {
    margin-bottom: 0;
  }
}
footer .footer_bottom .footer_bottom_left .footer_bottom_SocialIcon .footer_bottom_SocialIcon_Line {
  background-image: url("../img/ic-line@.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 20px;
}
footer .footer_bottom .footer_bottom_left .footer_bottom_SocialIcon .footer_bottom_SocialIcon_FB {
  background-image: url("../img/ic-facebook.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
footer .footer_bottom .footer_bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer_bottom .footer_bottom_right .footer_bottom_right_img {
  display: none;
  background-image: url("../img/sm-今天是個吃甜點的好日子.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 220px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  footer .footer_bottom .footer_bottom_right .footer_bottom_right_img {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 15px;
  }
}

.section1 {
  margin-bottom: 10px;
}
@media screen and (min-width: 960px) {
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 4%;
    padding-right: 4%;
  }
}
.section1 .section1_banner {
  background-image: url("https://bit.ly/2OhbMHr");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  aspect-ratio: 1/0.77;
  z-index: -2;
}
@media screen and (min-width: 960px) {
  .section1 .section1_banner {
    aspect-ratio: 1/0.5;
    background-position: 50% 50%;
  }
}
.section1 .section1_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aspect-ratio: 2/1;
}
@media screen and (min-width: 960px) {
  .section1 .section1_menu {
    width: 80%;
    aspect-ratio: 1/0.32;
    margin-top: -20%;
  }
}
.section1 .section1_menu li {
  width: 33.3%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1px solid white;
}
.section1 .section1_menu .section1_menu_btn1 {
  position: relative;
}
.section1 .section1_menu .section1_menu_btn1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-color: #3F5D45;
  opacity: 0.8;
  z-index: -1;
}
.section1 .section1_menu .section1_menu_btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url("https://bit.ly/2R5tqwD");
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -2;
}
.section1 .section1_menu .section1_menu_btn1:hover::after {
  background-color: #FFE180;
}
.section1 .section1_menu .section1_menu_btn2 {
  position: relative;
}
.section1 .section1_menu .section1_menu_btn2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-color: #3F5D45;
  opacity: 0.8;
  z-index: -1;
}
.section1 .section1_menu .section1_menu_btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url("https://bit.ly/2Dwoxd7");
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -2;
}
.section1 .section1_menu .section1_menu_btn2:hover::after {
  background-color: #FFE180;
}
.section1 .section1_menu .section1_menu_btn3 {
  position: relative;
}
.section1 .section1_menu .section1_menu_btn3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-color: #3F5D45;
  opacity: 0.8;
  z-index: -1;
}
.section1 .section1_menu .section1_menu_btn3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-image: url("https://bit.ly/2OUteif");
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -2;
}
.section1 .section1_menu .section1_menu_btn3:hover::after {
  background-color: #FFE180;
}
.section1 .section1_menu a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 960px) {
  .section1 .section1_menu a {
    font-size: 30px;
    letter-spacing: 10px;
  }
}
.section1 .section1_menu a:hover {
  color: #3F5D45;
  font-weight: bold;
}

.section2 .section2_title {
  background-image: url("../img/sm-橫式-為什麼選擇了做甜點.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .section2 .section2_title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-image: url("../img/lg-為什麼選擇了做甜點.svg");
  }
}
.section2 .section2_img {
  background-image: url("https://bit.ly/2xPn7Eq");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .section2 .section2_img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media screen and (min-width: 960px) {
  .section2 .section2_text {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.section3 .section3_title {
  background-image: url("../img/sm-橫式-為什麼一定要吃甜點.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .section3 .section3_title {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background-image: url("../img/lg-為什麼一定要吃甜點.svg");
  }
}
.section3 .section3_img {
  background-image: url("https://bit.ly/2zzAQS4");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .section3 .section3_img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (min-width: 960px) {
  .section3 .section3_text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.section2_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #8DA291;
}
@media screen and (min-width: 960px) {
  .section2_3 {
    padding-left: 4%;
    padding-right: 4%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  }
  .section2_3::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #EAF0ED;
    z-index: -1;
  }
}
.section2_3 .section2_3_title {
  aspect-ratio: 1/0.32;
  background-size: 50% 50%;
  background-position: 50% 50%;
}
@media screen and (min-width: 960px) {
  .section2_3 .section2_3_title {
    width: 15%;
    background-size: 70%;
    background-position: 50% 0;
  }
}
.section2_3 .section2_3_img {
  background-size: 100% auto;
  background-position: 50% 50%;
  aspect-ratio: 1/0.66;
}
@media screen and (min-width: 960px) {
  .section2_3 .section2_3_img {
    width: 50%;
    aspect-ratio: 1/1;
  }
}
.section2_3 .section2_3_text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 20px;
  line-height: 2;
  background: #EAF0ED;
}
@media screen and (min-width: 960px) {
  .section2_3 .section2_3_text {
    padding-top: 8%;
    padding-bottom: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35%;
    font-size: 28px;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    background: none;
  }
}

.section4 .section4_banner {
  background-image: url("../img/sm-橫式-想吃甜點是不需要理由的.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  aspect-ratio: 1/0.32;
  background-size: 50% 50%;
  background-position: 50% 50%;
}
@media screen and (min-width: 960px) {
  .section4 .section4_banner {
    background-image: url("../img/lg-想吃甜點是不需要理由的.svg");
    aspect-ratio: 1/0.4;
    background-size: auto 80%;
  }
}

.section5 {
  padding-left: 4%;
  padding-right: 4%;
  font-size: 24px;
}
@media screen and (min-width: 960px) {
  .section5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
}
.section5 .section5_product {
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) {
  .section5 .section5_product {
    width: 32%;
  }
}
.section5 .section5_product .section5_product_imgs {
  border: 0.1px solid #8DA291;
  aspect-ratio: 1/1.05;
  position: relative;
}
.section5 .section5_product .section5_product_imgs .section5_product_name_price_featured {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background: #3F5D45;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  position: absolute;
  left: 5%;
}
.section5 .section5_product .section5_product_imgs .section5_product_favorite {
  position: absolute;
  width: 6%;
  right: 5%;
  top: 3%;
}
.section5 .section5_product .section5_product_name_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section5 .section5_product .section5_product_name_price p {
  width: 50%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  color: #3F5D45;
  border: 0.1px solid #8DA291;
}
.section5 .section5_product .section5_product_cartbtn {
  border: 0.1px solid #8DA291;
}
.section5 .section5_product .section5_product_cartbtn a {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #3F5D45;
  background: #EAF0ED;
}
.section5 .section5_product1 .section5_product1_img {
  background-image: url("../img/p-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
.section5 .section5_product2 {
  display: none;
}
@media screen and (min-width: 960px) {
  .section5 .section5_product2 {
    display: block;
  }
}
.section5 .section5_product2 .section5_product2_img {
  background-image: url("https://bit.ly/2zBDAxX");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
.section5 .section5_product3 {
  display: none;
}
@media screen and (min-width: 960px) {
  .section5 .section5_product3 {
    display: block;
  }
}
.section5 .section5_product3 .section5_product3_img {
  background-image: url("https://bit.ly/2QbVsVR");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}